.lSSlideOuter {
  height: 40%;
}

#lnav {
  height: 60%;
}
.ui-page-theme-b .ui-btn{
   height: 16.66%;
  background-color: rgba(51, 51, 51, 1);
  background: -webkit-linear-gradient(120deg, #c0c0c0, gray);
  /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(120deg, #c0c0c0, gray);
  /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(120deg, #c0c0c0, gray);
  /* Firefox 3.6 - 15 */
  background: linear-gradient(120deg, #c0c0c0, gray); /* 标准的语法（必须放在最后） */
}

#lnav li img {
  width: 30px;
  height: 30px;
  margin: 10px 10px;
}

#linfo li img {
  width: 30px;
  height: 30px;
  margin: 10px 10px;
}

#lsearch li img {
  width: 30px;
  height: 30px;
  margin: 10px 10px;
}

/* .content {
  background: url("../images/jb1.jpg") no-repeat;
  background-position: center center;
} */

.two-row {
  height: 30%;
  opacity: 0.8;
}

.eight-row {
  height: 60%;
  opacity: 0.8;
}

#royal_preloader {
  font-family: Arial;
  font-size: 12px;
  visibility: visible;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 9999999999;
  -webkit-transition: opacity 0.2s linear 0.8s;
  -moz-transition: opacity 0.2s linear 0.8s;
  -ms-transition: opacity 0.2s linear 0.8s;
  -o-transition: opacity 0.2s linear 0.8s;
  transition: opacity 0.2s linear 0.8s;
}

#royal_preloader.complete {
  opacity: 0;
}

#royal_preloader .background {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: #000000;
  -webkit-transition: background 0.5s linear;
  -moz-transition: background 0.5s linear;
  -ms-transition: background 0.5s linear;
  -o-transition: background 0.5s linear;
  transition: background 0.5s linear;
}

#royal_preloader.number .name {
  position: absolute;
  top: 20%;
  left: 0px;
  right: 0px;
  text-transform: uppercase;
  color: #EEEEEE;
  text-align: center;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s linear;
  -moz-transition: -moz-transform 0.3s linear;
  -ms-transition: -ms-transform 0.3s linear;
  -o-transition: -o-transform 0.3s linear;
  transition: transform 0.3s linear;
  -webkit-animation: fly 0.3s;
  -moz-animation: fly 0.3s;
  -ms-animation: fly 0.3s;
  -o-animation: fly 0.3s;
  animation: fly 0.3s;
}

#royal_preloader.number .percentage {
  color: #FFFFFF;
  font-family: Impact, Arial;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  text-align: center;
  margin: -90px 0px 0px -90px;
  background-image: url('../images/loader.gif');
  background-repeat: no-repeat;
  background-position: 50% 0;
  padding-top: 80px;
  width: 180px;
  position: absolute;
  font-size: 50px;
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.3s linear 0.5s;
  -moz-transition: all 0.3s linear 0.5s;
  -ms-transition: all 0.3s linear 0.5s;
  -o-transition: all 0.3s linear 0.5s;
  transition: all 0.3s linear 0.5s;
}

#royal_preloader.text .loader {
  color: #FFFFFF;
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  top: 50%;
  left: 50%;
  height: 40px;
  line-height: 40px;
  margin-top: -20px;
  letter-spacing: 3px;
  font-size: 36px;
  white-space: nowrap;
}

#royal_preloader.text .loader div {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0%;
  background-color: #000000;
  opacity: 0.7;
  filter: alpha(opacity = 70);
  -webkit-transition: left 0.3s linear;
  -moz-transition: left 0.3s linear;
  -ms-transition: left 0.3s linear;
  -o-transition: left 0.3s linear;
  transition: left 0.3s linear;
}

#royal_preloader.logo .loader {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -40px 0px 0px -40px;
  overflow: hidden;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 100%;
}

#royal_preloader.logo .loader div {
  position: absolute;
  bottom: 0%;
  left: 0px;
  right: 0px;
  height: 100%;
  opacity: 0.7;
  filter: alpha(opacity = 70);
  -webkit-transition: bottom 0.3s linear;
  -moz-transition: bottom 0.3s linear;
  -ms-transition: bottom 0.3s linear;
  -o-transition: bottom 0.3s linear;
  transition: bottom 0.3s linear;
}

#royal_preloader.logo .percentage {
  position: absolute;
  width: 80px;
  height: 40px;
  line-height: 40px;
  top: 50%;
  left: 50%;
  margin: 40px 0px 0px -40px;
  color: #072E77;
  text-align: center;
  font-family: Arial;
  font-size: 12px;
  font-weight: bold;
}

.ui-block-a {
  padding-top: 4.5%
}

.ui-block-b {
  padding-top: 4.5%
}

.support {
  height: 10%;
  color: #fff;
  text-align: center;
  margin-top: 14px;
  font-weight: 500;
  font-size: 10px;
  color: #fff;
  background: none repeat scroll 0% 0% rgba(51, 51, 51, 0.8);
}

.col-xs-12,.col-sm-12,.col-md-12,.col-lg-12 {
  padding-right: 0px;
  padding-left: 0px;
}

.ui-btn-f :before {
  background-color: #fff;
}